" ALEX'S IDEAVIMRC

"""""""""""""""""""" COMPATIBILITY """"""""""""""""""""

" Load my vimrc
source ~/.vimrc

" Replicate my plugin settings
set visualbell
set showcmd
set showmode
set number
set wildmenu
set wildignorecase
set viminfo+=!
set incsearch
set hlsearch
set ignorecase
set smartcase
set autoindent
set smartindent
set smarttab
set scrolloff=1
set sidescrolloff=5
xnoremap < <gv
xnoremap > >gv
nnoremap Y y$
xnoremap * "yy/<C-r>y<CR>
xnoremap # "yy?<C-r>y<CR>
inoremap <C-U> <C-G>u<C-U>
inoremap <C-W> <C-G>u<C-W>
nnoremap Q gq
nnoremap <silent> <C-L> :noh<CR>
set nrformats-=octal
set nostartofline
silent! set nojoinspaces

"""""""""""""""""""" IDEAVIM SETTINGS """"""""""""""""""""

set ideajoin
set ideastatusicon=enabled

"""""""""""""""""""" PLUGINS """"""""""""""""""""

set NERDTree
set surround
set multiple-cursors
set commentary
set ReplaceWithRegister
let g:argtextobj_pairs="(:),[:],{:},<:>"
set argtextobj
set exchange
set textobj-entire
set highlightedyank
set vim-paragraph-motion
set textobj-indent
set matchit
let g:qs_highlight_on_keys = ['f', 'F', 't', 'T']
let g:qs_primary_color = '#ff0000'
let g:qs_secondary_color = '#ff00ff'
set quickscope
set which-key
set notimeout

"""""""""""""""""""" FIX MAPPINGS """"""""""""""""""""

" Fix jump related
nnoremap <C-o>       :action Back<CR>
nnoremap <C-i>       :action Forward<CR>

"""""""""""""""""""" IDEAVIM MAPPINGS """"""""""""""""""""

" Go To / Jump (under cursor)
nnoremap ,gg         :action ShowUsages<CR>
nnoremap ,gi         :action GotoImplementation<CR>
nnoremap ,gt         :action GotoTypeDeclaration<CR>
nnoremap ,gs         :action GotoSuperMethod<CR>
nnoremap ,gu         :action GotoTest<CR>
nnoremap ,ge         :action JumpToLastChange<CR>

" Fix find related
nnoremap ,ff         :action GotoFile<CR>
nnoremap ,fd         :action GotoClass<CR>
nnoremap ,f/         :action FindInPath<CR>
nnoremap ,fb         :action RecentFiles<CR>
nnoremap ,fh         :action RecentLocations<CR>
nnoremap ,ft         :action GotoSymbol<CR>

" Refactor code
nnoremap ,rr         :action RefactoringMenu<CR>
nnoremap ,rt         :action Refactorings.QuickListPopupAction<CR>
xnoremap ,rt         :action Refactorings.QuickListPopupAction<CR>
nnoremap ,ra         :action AnalyzeMenu<CR>
nnoremap ,re         :action RenameElement<CR>
nnoremap ,rm         :action Move<CR>
nnoremap ,ri         :action Inline<CR>
nnoremap ,rs         :action SurroundWith<CR>
xnoremap ,rs         :action SurroundWith<CR>
nnoremap ,rv         :action IntroduceVariable<CR>

" Introspect code
inoremap <C-q>       <C-o>:action QuickJavaDoc<CR>
nnoremap ,ii         :action QuickActions<CR>
nnoremap ,ip         :action ParameterInfo<CR>
nnoremap ,iu         :action FindUsages<CR>
nnoremap ,ic         :action CallHierarchy<CR>
nnoremap ,im         :action MethodHierarchy<CR>
nnoremap ,it         :action TypeHierarchy<CR>
nnoremap ,id         :action QuickJavaDoc<CR>

" Pending
" Git related (Annotate, GitFileActions, GitRepositoryActions, Git.ResolveConflicts)
" Debug related (Debug Stop GotoNextError ToggleLineBreakpoint)
